name: Build APK
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      # Java 17 Kurulumu (Hataları önler)
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      # Buildozer ile APK Yap
      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action@v1
        id: buildozer
        with:
          command: buildozer android debug
          buildozer_version: stable

      # APK'yı Yükle
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ChickenRun-APK
          path: bin/*.apk
